body {
    background-color: blue;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 300%;
    text-align: center;
}

.quiz-box {
    background-color: red;
    width: 1400px;
    max-width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.answer-box {
    
}

#question-box {
    text-align: center;
}