body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }

h1 {
    font-size: 300%;
    text-align: center;
    justify-content: center;
}

.quiz-box {
    background-color: red;
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 700px;
    max-width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.answer-box {
    color: aquamarine;

}

#question-box {
    text-align: center;
    background-color: blueviolet;
}